* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body{
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
    background: linear-gradient(
      90deg,
      rgb(149, 208, 115) 0%,
      rgb(21, 92, 12) 45%,
      rgba(2, 0, 36, 1) 74%
    );
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  
  .header__nav-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
  }
  
  .header__nav-menu__link {
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Bree Serif', serif;
  }
  
  .header__nav-title {
    font-size: 25px;
    font-family: 'Fredoka One', cursive;
    text-decoration: none;
    color: black;
  }
  
  .header__background {
    background-image: url(https://image.freepik.com/foto-gratis/silueta-grupal-perros-diferentes-razas_174814-13.jpg);
    width: 100%;
    height: 400px;
    background-size: cover;
    position: relative;
    background-position: center ce;
    background-repeat: no-repeat;
  }
  
 
  
  /*servicios*/
  .servicios {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .servicios-cards {
    display: grid;
    grid-template-columns: repeat(3, 32%);
    justify-content: space-between;
  }
  
  .servicios-title {
    font-size: 40px;
    padding-bottom: 2rem;
    padding-top: 3rem;
    font-family: 'times';
  }
  
  .servicios-cards__card {
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border-color: rgb(19, 92, 12);
  }
  
  .servicios-cards__card-img {
    max-width: 100%;
    width: 100%;
    height: 300px;
    border-radius: 7px 7px 0 0;
  }
  
  .servicios-cards__card-title {
    font-size: 20px;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: rgb(12, 92, 16);
  }
  
  .servicios-cards__card-description {
    text-align: center;
    padding: 1rem 2rem;
  }
   /*Integrantes estilos*/
   .integrantes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
   
  }
  
  .integrantes-title {
    font-size: 40px;
    padding-bottom: 2rem;
    padding-top: 1rem;
    font-family: 'times';
  }
  
  .integrantes-cards {
    display: grid;
    grid-template-columns: repeat(5, 18%);
    justify-content: space-between;
    
  }
  
  .integrantes-cards__card {
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border-color: rgb(37, 92, 12);
    background: linear-gradient(
        180deg,
        rgb(193, 240, 166) 0%,
        rgb(115, 224, 115) 45%,
        rgb(102, 156, 71) 74%
      );
  }
  
  .integrantes-cards__card-img {
    max-width: 100%;
    
    width: 100%;
    height: 200 px;
    border-radius: 7px 7px 0 0;

  }
  
  .integrantes-cards__card-title {
    font-size: 20px;
    text-align: center;
    padding-bottom: 1rem;
    padding-top: 1rem;
    color: rgb(28, 92, 12);
  }
  
  .integrantes-cards__card-description{
      text-align: center;
      padding-left: 1rem;
      padding-right: 2rem;
  }
  /*Fin Integrantes*/

    /*noticias*/
  .section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  
  .noticias-title {
    font-size: 32px;
    padding-bottom: 2rem;
    padding-top: 1rem;
    font-family: 'Georgia', serif;
    text-align: center;
  }
  
  .noticias-cards {
    display: grid;
    grid-template-columns: repeat(2, 49%);
    grid-column-gap: 2rem;
    grid-row-gap: 2rem;
    justify-content: space-between;
    padding: 3rem;
  }
  
  .noticias-cards__card {
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
    border-color: rgb(25, 92, 12);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-between;
  }
  
  .noticias-cards__card-img {
    
    height: 350px;
    width: auto;
    border-radius: 7px 7px 0 0;
    padding-top: 10px;
  }
  
  .noticias-cards__card-atributes {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 15px;
  }
  
  .noticias-cards__card-atributes h3 {
    font-size: 30px;
    text-align: center;
    font-family: 'Verdana', serif;
    font-weight: 500;
    padding-bottom: 10px;
  }
  
  .noticias-cards__card-atributes p {
    text-align: justify;
    font-family: 'Times New Roman', serif;
    
   }

  /* NOTICIAS FINAL*/
  
    /* Footer styles */
    
    .footer {   
      align-items: center;
      justify-content: center;
      background: linear-gradient(
        90deg,
        rgb(149, 208, 115) 0%,
        rgb(12, 92, 12) 45%,
        rgba(2, 0, 36, 1) 74%
      );
    }
    
    .footer-cards {
     
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      width: 100%;
      align-content: space-around;
      padding: 2rem;
      
    }
    
    .footer-cards__card{
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;  
    }
    
    .service-cards__card-description{
      padding: 0rem;
    }
    
    .service-cards__card-description-title{
      font-size: 28px;  
      font-family: 'Bree Serif', serif;
      padding-bottom: 4rem;  
    }
    
    .footer-cards__card-description_1{
      color: white;
    }
    .footer_information{
        
      width: 30%;
      text-align: center;


  }

  .enlace_git{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .scrum{
      display: flex;
      justify-content: left;
      align-items: center;
      color: white
  }

  .owner{
      display: flex;
      justify-content: left;
      align-items: center;
      color: white
  }

  .scrumteam{
      display: flex;
      justify-content: left;
      align-items: center;
      color: white

  }